body {
  background-color: rgb(147, 241, 229);
  font-family: montserrat;
  margin: 0;
}
/* Header/logo Title */
.header {
  padding: 60px;
  text-align: center;
  color: rgb(8, 27, 15);
}

.navbar {
  display: flex;
  background-color: rgb(52, 73, 94);
}
/* Style the navigation bar links */
.navbar a {
  color: rgb(191, 232, 235);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  font-family: sans-serif;
  font-style: italic;
  font-weight: bold;
}

/* Change color on hover */
.navbar a:hover {
  background-color: rgb(118, 215, 196);
  color: black;
  font-weight: bold;
}

.main-grid {
  background-image: url(images/stripe\ .png);
  position: relative;
  height: 600px;
  display: flex;
  align-items: center;
}
.flip-card {
  background-color: rgb(40, 23, 66);
  width: 330px;
  height: 420px;
  padding: 10px;
  border: 1px solid rgb(52, 73, 94);
  position: absolute;
  top: 15%;
  left: 35%;
  border-radius: 20px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
flip-card-front h2 {
  margin-top: 20px;
  padding-top: 10px;
}
flip-card-front h4 {
  margin-top: 5px;
  padding-top: 10px;
}

.flip-card-front p {
  margin-top: 25px;
  padding: 15px;
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: rgb(40, 23, 66);
  color: rgb(225, 228, 228);
  padding: 0px;
}

/* Style the back side */
.flip-card-back {
  color: black;
  transform: rotateY(180deg);
}

/* Footer */
.footer {
  flex: 50%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  text-align: center;
  background: rgb(52, 73, 94);
  color: rgb(194, 247, 235);
  font-weight: bold;
}
